/*VARIABLES-------------*/
/*STYLES*/
/*footer parms*/
footer.page-footer .footer-copyright {
  overflow: hidden;
  padding-top: 25px;
  height: 125px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
/*social buttons*/
.social {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  color: #fff;
  padding: 8px 10px;
  font-size: 50px;
}
.social:hover {
  transform: scale(1.1);
}
/*COLOR VARIABLES FOR BTN*/
/*BUTTON_STYLES*/
/*.btn
.btn-primary
.btn-secondary*/
.btn {
  display: inline-block;
  padding: 2px 5px;
  margin: 2px;
  background-color: #1a79ff;
  color: #000b1a;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  /*background-image: linear-gradient(to bottom, hsla(0,0%,100%,0.2) 0%,hsla(0,0%,100%,0) 50%,hsla(0,0%,0%,0.2) 100%);*/
  transition: background-color linear 0.3s, color linear 0.3s;
}
.btn:hover,
.btnfocus {
  color: #fff;
  background-color: #0055cd;
}
.btn-primary {
  background-color: #1a79ff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primaryfocus {
  color: #fff;
  background-color: #00409a;
}
.btn-secondary {
  background-color: #737070;
  color: #0c0b0b;
}
.btn-secondary:hover,
.btn-secondaryfocus {
  color: #fff;
  background-color: #252525;
}
